@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-darker {
        color: var(--color-base-content);
        opacity: 0.5;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    /* np. Tailwind base-100 */
    border-radius: 4px;

}